[submodule "SirEngineThe3rd/vendor/imgui"]
	path = SirEngineThe3rd/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/giordi91/spdlog.git
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/giordi91/imgui.git
[submodule "vendors/cxxopts"]
	path = vendors/cxxopts
	url = https://github.com/giordi91/cxxopts.git
[submodule "vendors/tinyobjloader"]
	path = vendors/tinyobjloader
	url = https://github.com/giordi91/tinyobjloader.git
[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/giordi91/json.git
[submodule "vendors/Catch2"]
	path = vendors/Catch2
	url = https://github.com/giordi91/Catch2.git
[submodule "vendors/DirectXTK12"]
	path = vendors/DirectXTK12
	url = https://github.com/giordi91/DirectXTK12.git
[submodule "vendors/Compressonator"]
	path = vendors/Compressonator
	url = https://github.com/giordi91/Compressonator.git
[submodule "vendors/stb"]
	path = vendors/stb
	url = https://github.com/nothings/stb.git
[submodule "vendors/DirectXTex"]
	path = vendors/DirectXTex
	url = https://github.com/giordi91/DirectXTex.git
[submodule "vendors/farmhash"]
	path = vendors/farmhash
	url = https://github.com/giordi91/farmhash.git
[submodule "vendors/display-library"]
	path = vendors/display-library
	url = https://github.com/giordi91/display-library.git
[submodule "vendors/PixEvent"]
	path = vendors/PixEvent
	url = https://github.com/giordi91/PixEvent.git
[submodule "vendors/crunch"]
	path = vendors/crunch
	url = https://github.com/giordi91/crunch
[submodule "lib_fts"]
	path = lib_fts
	url = https://github.com/giordi91/lib_fts.git
[submodule "vendors/lib_fts"]
	path = vendors/lib_fts
	url = https://github.com/giordi91/lib_fts.git