[submodule "SirEngineThe3rd/vendor/imgui"]
	path = SirEngineThe3rd/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/giordi91/spdlog.git
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/giordi91/imgui.git
[submodule "vendors/cxxopts"]
	path = vendors/cxxopts
	url = https://github.com/giordi91/cxxopts.git
[submodule "vendors/tinyobjloader"]
	path = vendors/tinyobjloader
	url = https://github.com/giordi91/tinyobjloader.git
[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/giordi91/json.git
